.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
  
  .carousel-item {
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.hidden {
    opacity: 0;
  }
  
  .carousel-item.block {
    opacity: 1;
  }